<div class="well">
    <h3>Created by</h3>
    <div class='center'>
        <a href='https://github.com/tvo10'> 
            <img src="https://64.media.tumblr.com/0507256316011b1c02f9c735e9cf3105/e249f1b76f0d1735-2c/s250x400/fb20025bf591f83b37f2d8886aab927f807bf194.jpg">
        </a>
    </div>
</div>

<style>
    html, body {
        height: 100%;
    }
    .well {
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .center {
        /* max-height: 20px; */
        max-width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>